In [ ]:
mongo_conn = f'mongodb://login:password@host:port/bd'

In [1]:
import clickhouse_driver
from keyrings.cryptfile.cryptfile import CryptFileKeyring
kr = CryptFileKeyring()
cfg = {'host': kr.get_password("etl", "dwh_host"), 'port': kr.get_password("etl", "dwh_port"), 'database': kr.get_password("etl", "dwh_database"),
       'user': kr.get_password("etl", "dwh_user"), 'password': kr.get_password("etl", "dwh_password")}

Please enter password for encrypted keyring:  ······

In [3]:
import pandas as pd
import numpy as np
import math
import clickhouse_driver
# from pymongo import MongoClient
from tqdm import tqdm
import datetime

In [4]:
test = pd.read_sql("""select * from fmp.KeyMetricAnnual where symbol in (select symbol from fmp.CompanyProfiles where country='RU');""", con=clickhouse_driver.connect(**cfg))

/home/psm/.pyenv/versions/3.9.13/envs/jupyterhub/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [23]:
len(test.symbol.unique())

243

In [25]:
test.date.min(), test.date.max()

(Timestamp('2001-12-31 00:00:00'), Timestamp('2023-12-31 00:00:00'))

In [19]:
test['date'] = pd.to_datetime( test['date'])
test['year'] = test['date'].dt.year

In [68]:
test.groupby('year')['symbol'].nunique().reset_index()

    year  symbol
0   2001       1
1   2002       1
2   2003       1
3   2004       4
4   2005       5
5   2006       5
6   2007       7
7   2008       7
8   2009       8
9   2010     117
10  2011     175
11  2012     189
12  2013     192
13  2014     198
14  2015     206
15  2016     207
16  2017     213
17  2018     211
18  2019     212
19  2020     213
20  2021     164
21  2022     170
22  2023     103

In [5]:
len(test.symbol.unique())

243

In [27]:
test2 = pd.read_sql("""select * from fmp.KeyMetric where symbol in (select symbol from fmp.CompanyProfiles where country='RU');""", con=clickhouse_driver.connect(**cfg))

/home/psm/.pyenv/versions/3.9.13/envs/jupyterhub/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [28]:
len(test2.symbol.unique())

230

In [30]:
test2.date.min(), test2.date.max()

(datetime.date(2003, 3, 31), datetime.date(2023, 9, 30))

In [31]:
test2['date'] = pd.to_datetime( test2['date'])
test2['year'] = test2['date'].dt.year

In [69]:
test2.groupby('year')['symbol'].nunique().reset_index()

    year  symbol
0   2003       1
1   2004       1
2   2005       2
3   2006       2
4   2007       2
5   2008       2
6   2009       3
7   2010      13
8   2011      49
9   2012     103
10  2013     126
11  2014     133
12  2015     136
13  2016     140
14  2017     148
15  2018     153
16  2019     188
17  2020     172
18  2021     110
19  2022     152
20  2023     170

In [34]:
test3 = pd.read_csv('MSFOReport_202405252056.csv', sep=';') # RUDATA

In [38]:
test3.Period_Name.unique()

array(['2017 - II кв.', '2017', '2018 - II кв.', '2018', '2017 - I кв.',
       '2017 - III кв.', '2018 - I кв.', '2019 - II кв.', '2019 - I кв.',
       '2019 - III кв.', '2019', '2020 - I кв.', '2020 - II кв.',
       '2020 - III кв.', '2020', '2021 - I кв.', '2021 - II кв.', '2021',
       '2021 - III кв.', '2022 - II кв.', '2022 - I кв.',
       '2022 - III кв.', '2022', '2023 - I кв.', '2023 - II кв.',
       '2018 - III кв.', '2023', '2023 - III кв.'], dtype=object)

In [42]:
len(test3.Inn.unique())

567

In [40]:
test3.columns

Index(['Id', 'Accounts_Payable', 'Admin_Expenses', 'Amortization',
       'Avg_Issue_Volume', 'Cash_Begin_Period', 'Cash_End_Period',
       'Cash_Equivalents', 'Cash_Financial_Activities', 'Cash_Increase',
       'Cash_Investing_Activities', 'Cash_Operating_Activities', 'Currency',
       'Dividends', 'Earn_Per_Share_Rub', 'Ebit', 'Exchange_Differences',
       'FininstId', 'Fixed_Assets', 'Income_Tax_Expense', 'Inn',
       'Interest_Expense', 'Inventories', 'Long_Term_Loans', 'Net_Income',
       'Net_Income_Shareholders', 'Ogrn', 'Operating_Expenses',
       'Other_Current_Assets', 'Other_Long_Term_Liabilities',
       'Other_Non_Current_Assets', 'Other_Short_Term_Liabilities',
       'Period_Begin', 'Period_End', 'Period_Name', 'Power', 'Receivables',
       'Revenue', 'Share_Minority_Shareholders',
       'Share_Minority_Shareholders_2', 'Short_Term_Investments',
       'Short_Term_Loans', 'Shortname_Rus', 'Source_Link', 'Total_Assets',
       'Total_Current_Assets', 'Total_Equity', 'Total_Liabilities',
       'Total_Liabilities_And_Equity', 'Total_Short_Term_Liabilities'],
      dtype='object')

In [70]:
test3.groupby('Period_Name')['Inn'].nunique().reset_index()

       Period_Name  Inn
0             2017  355
1     2017 - I кв.   57
2    2017 - II кв.  300
3   2017 - III кв.   58
4             2018  344
5     2018 - I кв.   56
6    2018 - II кв.  260
7   2018 - III кв.    3
8             2019  267
9     2019 - I кв.   56
10   2019 - II кв.  330
11  2019 - III кв.   61
12            2020  226
13    2020 - I кв.   51
14   2020 - II кв.  324
15  2020 - III кв.   57
16            2021  245
17    2021 - I кв.   57
18   2021 - II кв.  310
19  2021 - III кв.   51
20            2022  218
21    2022 - I кв.   21
22   2022 - II кв.  213
23  2022 - III кв.   19
24            2023    2
25    2023 - I кв.   17
26   2023 - II кв.  283
27  2023 - III кв.   33

In [44]:
test3[test3['Period_Name']=='2023']

,Id,Accounts_Payable,Admin_Expenses,Amortization,Avg_Issue_Volume,Cash_Begin_Period,Cash_End_Period,Cash_Equivalents,Cash_Financial_Activities,Cash_Increase,...,Short_Term_Investments,Short_Term_Loans,Shortname_Rus,Source_Link,Total_Assets,Total_Current_Assets,Total_Equity,Total_Liabilities,Total_Liabilities_And_Equity,Total_Short_Term_Liabilities
3912,21608,5770567.0,0.0,0.0,9450.0,4309289.0,17354554.0,17354554.0,14757.0,13046703.0,...,0.0,79023.0,"АО ""ЗАСЛОН""",NaN,57312558.0,48039047.0,3572711.0,53739847.0,57312558.0,35621678.0
4259,29958,2156.8,0.0,-445.5,370839686.0,941.5,1076.2,1076.2,466.6,149.7,...,0.0,1026.3,NaN,NaN,8770.7,3466.4,3303.6,5467.1,8770.7,3876.3

In [45]:
test4 = pd.read_csv('smart_lab_all.csv')

In [47]:
test4.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023', 'LTM', 'Company', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2006', '2007', '2008', '2000', '2001',
       '2002', '2003', '2004', '2005'],
      dtype='object')

In [76]:
test4.groupby('Unnamed: 0')['Company'].nunique().reset_index().sort_values('Company', ascending=False)

                                      Unnamed: 0  Company
70                       Капитализация, млрд руб      258
26                                 Валюта отчета      258
164                        Чистый долг, млрд руб      258
6                                   EV, млрд руб      258
41                          Дивиденды/прибыль, %      254
160                     Чистая прибыль, млрд руб      254
15                                           P/E      254
153                          Число акций ао, млн      252
5                                       EPS, руб      252
32                                   Дата отчета      252
146                           Цена акции ао, руб      249
61                             Доходность FCF, %      249
36                              Див доход, ао, %      249
79                          Наличность, млрд руб      248
20                                        ROE, %      247
25                    Баланс стоимость, млрд руб      238
14                                          P/BV      236
163                      Чистые активы, млрд руб      235
1                                  BV/акцию, руб      232
9                                 FCF/акцию, руб      232
29                             Выручка, млрд руб      232
162                             Чистая рентаб, %      231
121                             Рентаб EBITDA, %      231
17                                           P/S      231
3                               CAPEX/Выручка, %      231
52                                Долг, млрд руб      229
19                                        ROA, %      227
116                   Расх на персонал, млрд руб      216
23                              Активы, млрд руб      215
53                                   Долг/EBITDA      213
7                                      EV/EBITDA      213
4                               EBITDA, млрд руб      213
87                       Опер. расходы, млрд руб      210
2                                CAPEX, млрд руб      210
18                                  R&D/CAPEX, %      210
89         Операционный денежный поток, млрд руб      204
88                Операционная прибыль, млрд руб      198
115                 Процентные расходы, млрд руб      197
38                         Див.выплата, млрд руб      195
40                           Дивиденд, руб/акцию      195
8                                  FCF, млрд руб      192
16                                         P/FCF      192
127                      Себестоимость, млрд руб      159
24                         Амортизация, млрд руб      142
97                                 Персонал, чел      131
117                       Расходы/чел/год, тыс.р      131
108    Производительность труда, млн руб/чел/год      131
10                                 Free Float, %      113
154                          Число акций ап, млн       64
147                           Цена акции ап, руб       57
37                              Див доход, ап, %       57
159                 Чистая прибыль н/с, млрд руб       53
39                        Дивиденд ап, руб/акцию       51
71                       Качество фин.отчетности       39
99                    Презентации для инвесторов       39
123                          Сайт для инвесторов       39
100                     Присутствие на смартлабе       39
68                          Календарь инвесторов       37
83                                Обратная связь       37
30                                 Годовой отчет       34
11                                    IR рейтинг       32
78                               НИОКР, млрд руб       24
151                       Цена/мощность, руб/кВт       23
145                  Установленная мощность, ГВт       23
66                      Инсайдерское владение, %       21
92   Отпуск э/э потребителям из сети, млрд кВт*ч       20
13                                           P/B       19
22                        Активы банка, млрд руб       19
158                 Чист. проц. доходы, млрд руб       19
69                             Капитал, млрд руб       19
75                  Кредитный портфель, млрд руб       18
157                Чист. комисс. доход, млрд руб       17
12                      Loan-to-deposit ratio, %       17
35                            Депозиты, млрд руб       17
122                      Рентабельность банка, %       16
165                Чистый операц доход, млрд руб       16
129                  Создание резервов, млрд руб       15
114                    Протяженность ЛЭП, тыс.км       15
62                        Доходы по цб, млрд руб       13
76                    Кредиты физлицам, млрд руб       12
77                     Кредиты юрлицам, млрд руб       12
144             Установл. тепл. мощность, Гкал/ч       12
28               Выработка электроэнергии, ТВт*ч       11
91                 Отпуск тепл.энергии, млн Гкал       11
161                   Чистая процентная маржа, %       11
33                     Депозиты физлиц, млрд руб       11
60                          Дост.осн капитала, %       10
155                          Число магазинов, шт       10
132           Ср. цена реализации э/э, руб/кВт*ч        9
120          Резервы под обесценивание, млрд руб        9
34                      Депозиты юрлиц, млрд руб        9
113                 Просроченные кредиты, NPL, %        9
47                           Добыча нефти, млн т        9
59                         Дост. общ капитала, %        9
84               Общ. площадь магазинов, тыс. м2        9
43                          Добыча газа, млрд м3        8
130                 Сопоставимые продажи, LFL, %        8
138                           Стоимость риска, %        8
90                   Открыто новых магазинов, шт        8
67                                       КИУМ, %        7
143                                    Трафик, %        7
134                               Средний чек, %        7
96                      Переработка нефти, млн т        7
142               Трансформаторная мощность, ГВт        5
131            Списание. плох.кредитов, млрд руб        5
44                     Добыча золота, тыс тр унц        5
135                             Средний чек, руб        4
111                    Производство стали, млн т        4
118                     Реализация мощности, ГВт        4
21                        Акт. абоненты, млн чел        4
74            Контракты на продажу руб, млрд руб        4
57                     Доля продаж на экспорт, %        4
54                      Доля ипотечных сделок, %        4
73                Контракты на продажу м, тыс.м2        4
133                Ср.цена продажи золота, $/унц        4
98                        Пр-во продукции, млн т        4
72                       Количество заказов, млн        4
139                Торговый оборот GMV, млрд руб        4
125                  Себестоимость золота, $/унц        3
136   Средняя цена квадратного метра, тыс.руб/м2        3
0                                    ARPU, $/чел        3
119                       Реализация угля, млн т        3
31                            Грузооборот, млн т        3
45               Добыча коксующегося угля, млн т        3
56                         Доля онлайн продаж, %        3
107                         Продажи стали, млн т        3
80                Неработающие кредиты, млрд руб        3
86                      Онлайн продажи, млрд руб        3
94                 Пассажиропоток всего, млн чел        2
166                        Экспорт газа, млрд м3        2
58                                 Доля рынка, %        2
150                           Цена мет/прод, $/т        2
64                          Загрузка мощности, %        2
65                    Занятость пассаж.кресел, %        2
93                 Пассажиропоток внутр, млн чел        2
81              Новые площади на продажу, тыс.м2        2
95                 Пассажиропоток м/нар, млн чел        2
103                 Продажи авто экспорт, тыс шт        2
109                    Производство авто, тыс шт        2
126                     Себестоимость сляба, $/т        2
106                 Продажи недвижимости, тыс.м2        2
104                         Продажи авто, тыс шт        2
167                Экспортная цена на уголь, $/т        2
82                         Обработка руды, млн т        1
156                          Число самолетов, шт        1
110                 Производство алюминия, тыс т        1
27                 Внутренняя цена на уголь, $/т        1
124                  Себестоимость алюминия, $/т        1
42                     Добыча алмазов, млн карат        1
101                   Продажа алмазов, млн карат        1
46                            Добыча меди, тыс т        1
48                          Добыча никеля, тыс т        1
49                   Добыча палладия, тыс тр унц        1
50                    Добыча платины, тыс тр унц        1
51                     Добыча энерг. угля, млн т        1
55               Доля маркетплейса в продажах, %        1
112                Производство удобрений, млн т        1
102                           Продажи ПДС, тыс т        1
128                  Содержание алмазов, карат/т        1
137                   Средняя цена на уголь, $/т        1
63                         Загрузка мощностей, %        1
140              Транспорт нефтепродуктов, млн т        1
149              Цена газа на экспорт, $/1000 м3        1
148                           Цена алюминия, $/т        1
105                      Продажи алюминия, тыс т        1
141                       Транспорт нефти, млн т        1
85                      Объем продаж труб, млн т        1
152                               Часы налета, ч        1

In [ ]:
sorted(list(test4['Unnamed: 0'].unique()))

In [77]:
test4_=test4[test4['Unnamed: 0']=='Капитализация, млрд руб']

In [78]:
len(test4.Company.unique()), len(test4_.Company.unique())

(258, 258)

In [79]:
test4_.notna().sum().reset_index().sort_values('index')

           index    0
22          2000    3
23          2001    3
24          2002    3
25          2003    4
26          2004    5
27          2005    7
19          2006   11
20          2007   14
21          2008   32
12          2009   40
13          2010   67
14          2011   76
15          2012   83
16          2013  176
17          2014  186
18          2015  191
2           2016  199
3           2017  206
4           2018  211
5           2019  217
6           2020  224
7           2021  216
8           2022  212
9           2023  148
11       Company  258
10           LTM  183
1     Unnamed: 0  258
0   Unnamed: 0.1  258

In [ ]:
test

In [56]:
test5 = pd.read_csv('smart_lab_quartal.csv')

/tmp/ipykernel_8300/2566398268.py:1: DtypeWarning: Columns (53,54,55,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  test5 = pd.read_csv('smart_lab_quartal.csv')

In [80]:
test5_=test5[test5['Unnamed: 0']=='Капитализация, млрд руб']

In [81]:
len(test5.Company.unique()), len(test5_.Company.unique())

(259, 259)

In [ ]:
sorted(list(test5.columns))

In [82]:
pd.options.display.float_format ='{:,.3f}'.format
pd.options.display.max_rows = 400
test5_.notna().sum().reset_index().sort_values('index')#.drop_index()

           index    0
62        2000Q4    3
63        2001Q4    3
64        2002Q4    3
65        2003Q4    3
66        2004Q4    3
67        2005Q4    4
43        2006Q4    8
44        2007Q4   11
45        2008Q4   30
35        2009Q4   37
36        2010Q4   66
59        2011Q1    1
60        2011Q2    1
61        2011Q3    2
37        2011Q4   75
53        2012Q1    3
54        2012Q2    3
55        2012Q3    5
38        2012Q4   84
56        2013Q1    7
57        2013Q2    8
58        2013Q3    7
39        2013Q4  177
50        2014Q1   15
51        2014Q2   17
52        2014Q3   18
40        2014Q4  185
46        2015Q1   37
47        2015Q2   70
48        2015Q3   51
41        2015Q4  190
49        2016Q1   74
34        2016Q2  116
42        2016Q3   66
2         2016Q4  199
3         2017Q1   88
27        2017Q2  143
28        2017Q3   83
4         2017Q4  205
5         2018Q1   86
6         2018Q2  146
7         2018Q3   88
8         2018Q4  209
9         2019Q1   82
10        2019Q2  148
11        2019Q3   92
12        2019Q4  216
13        2020Q1   92
14        2020Q2  172
15        2020Q3  101
16        2020Q4  224
17        2021Q1   95
18        2021Q2  191
19        2021Q3  100
20        2021Q4  217
29        2022Q1   81
21        2022Q2  190
30        2022Q3   95
22        2022Q4  213
31        2023Q1   91
23        2023Q2  194
32        2023Q3   99
24        2023Q4  149
33        2024Q1   23
26       Company  259
25           LTM  183
1     Unnamed: 0  259
0   Unnamed: 0.1  259

In [10]:
test.shape

(1088084, 60)

In [29]:
test.date.min()

Timestamp('2001-12-31 00:00:00')